@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to this simple website</h1>
    <img src="img/logo.jpg" />
    <p id="helloWorldLabel">Hello world from my Web app with ASP.NET 7.</p>
</div>
